{% extends 'tengApp/business_group.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block page_content_heading %}
    <h1>О КОМПАНИИ</h1>
{% endblock %}
{% block page_content_body %}
    <section class="projects-page">
        <div class="container tabs">
            <div class="row">
                <div class="group text-center">
                    <span class="btn filter" data-tab="tab1" data-hash="#about">О КОМПАНИИ</span>
                    <span class="btn filter" data-tab="tab2" data-hash="#docs">ДОКУМЕНТЫ</span>
                    <span class="btn filter" data-tab="tab3" data-hash="#requisites">РЕКВИЗИТЫ</span>
                    <span class="btn filter" data-tab="tab4" data-hash="#contacts">КОНТАКТЫ</span>
                </div>
            </div>
            <div class="row tab-content projects">
                <div id="tab1" class="tab about active">
                    <div class="fsi-frame-360x270">
                        <span class="fsi-helper"></span>
                        <img class="fsi-img-360x270" src='http://placehold.it/360x270' alt="">
                    </div>
                    <div class="text-content">
                        <h2>КОМПАНИЯ Т-ИНЖИНИРИНГ</h2>
                        <div class="par">
                            <p>"Тейла-Инжиниринг" - профессиональная инженерная компания, входящая в холдинг "ТЕЙЛА"
                        и специализирующаяся на выполнении работ по проектированию, поставке и монтажу профессиональных
                        систем связи, комплексных технических средств безопасности, электроснабжения, электроосвещения,
                        диспетчеризации и автоматизации, инженерных систем, противопожарных систем.</p>
                            <p>Специализация компании и наработанный опыт позволяет успешно решать нестандартные задачи
                            и технические вопросы любого уровня сложности. Все работы проводятся "под ключ", с учетом
                            конкретных требований Заказчика.</p>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab docs">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="fsi-frame-360x410">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img" src='http://placehold.it/350x400' alt="">
                                </div>
                                <h5>ЛИЦЕНЗИЯ НА ОБЕСПЕЧЕНИЕ УСЛУГ МЕСТНОЙ ТЕЛЕФОННОЙ СВЯЗИ</h5>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="fsi-frame-360x410">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img" src='http://placehold.it/350x400' alt="">
                                </div>
                                <h5>ЛИЦЕНЗИЯ НА ОБЕСПЕЧЕНИЕ УСЛУГ МЕСТНОЙ ТЕЛЕФОННОЙ СВЯЗИ</h5>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="fsi-frame-360x410">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img" src='http://placehold.it/350x400' alt="">
                                </div>
                                <h5>ЛИЦЕНЗИЯ НА ОБЕСПЕЧЕНИЕ УСЛУГ МЕСТНОЙ ТЕЛЕФОННОЙ СВЯЗИ</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="fsi-frame-360x410">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img" src='http://placehold.it/350x400' alt="">
                                </div>
                                <h5>ЛИЦЕНЗИЯ НА ОБЕСПЕЧЕНИЕ УСЛУГ МЕСТНОЙ ТЕЛЕФОННОЙ СВЯЗИ</h5>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="fsi-frame-360x410">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img" src='http://placehold.it/350x400' alt="">
                                </div>
                                <h5>ЛИЦЕНЗИЯ НА ОБЕСПЕЧЕНИЕ УСЛУГ МЕСТНОЙ ТЕЛЕФОННОЙ СВЯЗИ</h5>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="fsi-frame-360x410">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img" src='http://placehold.it/350x400' alt="">
                                </div>
                                <h5>ЛИЦЕНЗИЯ НА ОБЕСПЕЧЕНИЕ УСЛУГ МЕСТНОЙ ТЕЛЕФОННОЙ СВЯЗИ</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3" class="tab requisites">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 col-lg-3">
                                <ul>
                                    <li><a href="#">Скачать .pdf</a></li>
                                    <li><a href="#">Скачать .doc</a></li>
                                    <li><a href="#">Скачать .txt</a></li>
                                </ul>
                            </div>
                            <div class="col-md-8 col-lg-9 par">
                                <h4>КОМПАНИЯ Т-ИНЖИНИРИНГ</h4>
                                <pre>
ООО "Тейла"
198320, г.Санкт-Петербург, г.Красное Село, ул.Лермонтова, д.15, корп.2
Тел.(812)326-37-11
ИНН 7807343584
КПП 7807343584
Красносельское ОСБ №1892
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab4" class="tab contacts">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="http://placehold.it/370x280" alt="">
                            </div>
                            <div class="col-lg-8 text-content">
                                <h4>ФИЗИЧЕСКИМ ЛИЦАМ</h4>
                                <div class="top-text">
                                    Оставить заявку на подключение или получить консультацию специалиста
                                    Вы можете по телефонам:
                                </div>
                                <ul>
                                    <li><span>СПб и Ленобласть</span><span>8 (812) 65-555-65</span></li>
                                    <li><span>Тихвин</span><span>8 (813-67) 31-331</span></li>
                                </ul>
                                <div class="row bottom-text">
                                    <div class="col-md-4">
                                        ул. Огородная, д.18, этаж 3 <br>
                                        ПН-ПТ, с 9.00 до 18.00 <br>
                                        Перерыв с 14:30 до 15:30
                                    </div>
                                    <div class="col-md-8">
                                        Колл-центр работает для Вас ежедневно с 9:00 до 23:00.
                                        В другое время Вы можете воспользоваться автоответчиком
                                        и записать Ваше сообщение. Наши специалисты свяжутся в Вами.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="http://placehold.it/370x280" alt="">
                            </div>
                            <div class="col-lg-8 text-content">
                                <h4>ЮРИДИЧЕСКИМ ЛИЦАМ</h4>
                                <div class="top-text">
                                    Оставить заявку на подключение или получить консультацию специалиста
                                    Вы можете по телефонам:
                                </div>
                                <ul>
                                    <li><span>СПб и Ленобласть</span><span>8 (812) 65-555-65</span></li>
                                    <li><span>Тихвин</span><span>8 (813-67) 31-331</span></li>
                                </ul>
                                <div class="row bottom-text">
                                    <div class="col-md-4">
                                        ул. Огородная, д.18, этаж 3 <br>
                                        ПН-ПТ, с 9.00 до 18.00 <br>
                                        Перерыв с 14:30 до 15:30
                                    </div>
                                    <div class="col-md-8">
                                        Колл-центр работает для Вас ежедневно с 9:00 до 23:00.
                                        В другое время Вы можете воспользоваться автоответчиком
                                        и записать Ваше сообщение. Наши специалисты свяжутся в Вами.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% comment %}
{% block makeup %}
    <script src="{% static 'js/makeup/makeup.js' %}?maket=/static/js/makeup/requisites.png"></script>
{% endblock makeup %}
{% endcomment %}

