{% extends 'tengApp/home.html' %}
{% load staticfiles %}
{% block title %}Т-Бизнесс группа{% endblock %}
{% block page_content %}
    <div class="page-content">
        {% block page_content_header %}
        <div id="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% block page_content_heading %}
                            <h1>Т-БИЗНЕСС ГРУПП</h1>
                            <h3>{{ ginfo.slogan_groupPage|default_if_none:'' }}</h3>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block page_content_body %}
            <section class="services pb">
                <div class="container">
                    <div class="row">
                        <div class="section-heading col-md-3">
                            <h2>ГРУППА КОМПАНИЙ ТЕЙЛА</h2>
                            <div class="line-dec"></div>
                        </div>
                        <div class="section-heading col-md-6">
                        </div>
                        <div class="section-heading col-md-3 text-right">
                            {% comment %}
                            <h6><a href="">ПОСМОТРЕТЬ ВСЕ</a></h6>
                            <div class="line-dec line-dec-right"></div>
                            {% endcomment %}
                        </div>
                    </div>
                    <br><br>
                    {% for teyla_row in teyla_group %}
                        <div class="row mb">
                        {% for affiliate in teyla_row %}
                            <div class="col-md-4">
                                <div class="service-item">
                                    <div class="fsi-frame-348x192">
                                        <span class="fsi-helper"></span>
                                        <img class="fsi-img-348x192" src='{{ affiliate.image.url }}' alt="">
                                    </div>
                                    <h4>{{ affiliate.name }}</h4>
                                    <p><a target="_blank" href="{{ affiliate.link }}">{{ affiliate.link_plain }}</a></p>
                                    <div class="teyla-group">
                                        {% autoescape off %}
                                            {{ affiliate.desc }}
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endblock %}
    </div>
{% endblock %}
{% comment %}
{% block makeup %}
    <script src="{% static 'js/makeup/makeup.js' %}?maket=/static/js/makeup/business_group.png"></script>
{% endblock makeup %}
{% endcomment %}

