{% extends 'tengApp/home.html' %}
{% load staticfiles %}
{% block title %}T-ENG business group{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div id="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% block page_content_heading %}
                            <h1>Т-БИЗНЕСС ГРУПП</h1>
                            <h3>"ИТ-Решения под ключ"</h3>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block page_content_body %}
            <section class="services pb">
                <div class="container">
                    <div class="row">
                        <div class="section-heading col-md-3">
                            <h2>ГРУППА КОМПАНИЙ ТЕЙЛА</h2>
                            <div class="line-dec"></div>
                        </div>
                        <div class="section-heading col-md-6">
                        </div>
                        <div class="section-heading col-md-3 text-right">
                            {% comment %}
                            <h6><a href="">ПОСМОТРЕТЬ ВСЕ</a></h6>
                            <div class="line-dec line-dec-right"></div>
                            {% endcomment %}
                        </div>
                    </div>
                    <br><br>
                    <div class="row mb">
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="fsi-frame-348x192">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img-348x192" src='http://placehold.it/348x192' alt="">
                                </div>
                                <h4>НАЗВАНИЕ ПОДРАЗДЕЛЕНИЯ</h4>
                                <p><a href="#">www.teyla.com</a></p>
                                <ul>
                                    <li>КОННОГВАРДЕЙСКИЙ БУЛЬВАР 4А,</li>
                                    <li>ХЕРСОНСКАЯ 12/14,</li>
                                    <li>ГАЛЕРНАЯ 5,</li>
                                    <li>ЗООЛОГИЧЕСКИЙ ПЕР., Д. 2-4 ЛИТ.Б</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="fsi-frame-348x192">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img-348x192" src='http://placehold.it/348x192' alt="">
                                </div>
                                <h4>НАЗВАНИЕ ПОДРАЗДЕЛЕНИЯ</h4>
                                <p><a href="#">www.teyla.com</a></p>
                                <ul>
                                    <li>ПОЖАРНАЯ СИСТЕМА</li>
                                    <li>СКЛАДСКОЙ КОМПЛЕКС</li>
                                    <li>СИГНАЛИЗАЦИЯ И СИСТЕМА ОПОВЕЩЕНИЯ ОБ ОПАСНОСИ ВОСПЛАМЕНЕНИЯ</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="fsi-frame-348x192">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img-348x192" src='http://placehold.it/348x192' alt="">
                                </div>
                                <h4>НАЗВАНИЕ ПОДРАЗДЕЛЕНИЯ</h4>
                                <p><a href="#">www.teyla.com</a></p>
                                <ul>
                                    <li>ВИДЕОНАБЛЮДЕНИЕ</li>
                                    <li>СКС</li>
                                    <li>ПОМЕЩЕНИЯ КОМПАНИИ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mb">
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="fsi-frame-348x192">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img-348x192" src='http://placehold.it/348x192' alt="">
                                </div>
                                <h4>НАЗВАНИЕ ПОДРАЗДЕЛЕНИЯ</h4>
                                <p><a href="#">www.teyla.com</a></p>
                                <ul>
                                    <li>КОННОГВАРДЕЙСКИЙ БУЛЬВАР 4А,</li>
                                    <li>ХЕРСОНСКАЯ 12/14,</li>
                                    <li>ГАЛЕРНАЯ 5,</li>
                                    <li>ЗООЛОГИЧЕСКИЙ ПЕР., Д. 2-4 ЛИТ.Б</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="fsi-frame-348x192">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img-348x192" src='http://placehold.it/348x192' alt="">
                                </div>
                                <h4>НАЗВАНИЕ ПОДРАЗДЕЛЕНИЯ</h4>
                                <p><a href="#">www.teyla.com</a></p>
                                <ul>
                                    <li>ПОЖАРНАЯ СИСТЕМА</li>
                                    <li>СКЛАДСКОЙ КОМПЛЕКС</li>
                                    <li>СИГНАЛИЗАЦИЯ И СИСТЕМА ОПОВЕЩЕНИЯ ОБ ОПАСНОСИ ВОСПЛАМЕНЕНИЯ</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="fsi-frame-348x192">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img-348x192" src='http://placehold.it/348x192' alt="">
                                </div>
                                <h4>НАЗВАНИЕ ПОДРАЗДЕЛЕНИЯ</h4>
                                <p><a href="#">www.teyla.com</a></p>
                                <ul>
                                    <li>ВИДЕОНАБЛЮДЕНИЕ</li>
                                    <li>СКС</li>
                                    <li>ПОМЕЩЕНИЯ КОМПАНИИ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mb">
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="fsi-frame-348x192">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img-348x192" src='http://placehold.it/348x192' alt="">
                                </div>
                                <h4>НАЗВАНИЕ ПОДРАЗДЕЛЕНИЯ</h4>
                                <p><a href="#">www.teyla.com</a></p>
                                <ul>
                                    <li>КОННОГВАРДЕЙСКИЙ БУЛЬВАР 4А,</li>
                                    <li>ХЕРСОНСКАЯ 12/14,</li>
                                    <li>ГАЛЕРНАЯ 5,</li>
                                    <li>ЗООЛОГИЧЕСКИЙ ПЕР., Д. 2-4 ЛИТ.Б</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="fsi-frame-348x192">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img-348x192" src='http://placehold.it/348x192' alt="">
                                </div>
                                <h4>НАЗВАНИЕ ПОДРАЗДЕЛЕНИЯ</h4>
                                <p><a href="#">www.teyla.com</a></p>
                                <ul>
                                    <li>ПОЖАРНАЯ СИСТЕМА</li>
                                    <li>СКЛАДСКОЙ КОМПЛЕКС</li>
                                    <li>СИГНАЛИЗАЦИЯ И СИСТЕМА ОПОВЕЩЕНИЯ ОБ ОПАСНОСИ ВОСПЛАМЕНЕНИЯ</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="fsi-frame-348x192">
                                    <span class="fsi-helper"></span>
                                    <img class="fsi-img-348x192" src='http://placehold.it/348x192' alt="">
                                </div>
                                <h4>НАЗВАНИЕ ПОДРАЗДЕЛЕНИЯ</h4>
                                <p><a href="#">www.teyla.com</a></p>
                                <ul>
                                    <li>ВИДЕОНАБЛЮДЕНИЕ</li>
                                    <li>СКС</li>
                                    <li>ПОМЕЩЕНИЯ КОМПАНИИ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    </div>
{% endblock %}
{% block makeup %}
    <script src="{% static 'js/makeup/makeup.js' %}?maket=/static/js/makeup/business_group.png"></script>
{% endblock makeup %}

