{% extends 'tengApp/business_group.html' %}
{% load staticfiles %}
{% block title %}{{ settings.newsPage_title|default_if_none:'Новости' }}{% endblock %}
{% block description %}{{ settings.newsPage_meta_desc|default_if_none:'' }}{% endblock %}
{% block keywords %}{{ settings.newsPage_meta_keywords|default_if_none:'' }}{% endblock %}
{% block page_content_heading %}
    <h1>{{ settings.newsPage_header|default_if_none:'Новости' }}</h1>
{% endblock %}
{% block page_content_body %}

    <section id="news">
        <div class="container-fluid">
            {% for newsItem in news %}
                <div class="row">
                    <div class="col-md-9 col-md-offset-1 article-col">
                        <h3 class="clearfix">
                            <span class="h3">{{ newsItem.header }}</span>
                            <span class="date"><i class="fa fa-calendar"></i> {{ newsItem.date }}</span>
                        </h3>
                        <div class="full-text">
                            {% autoescape off %}
                                {{ newsItem.text }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
