{% extends 'tengApp/business_group.html' %}
{% load staticfiles %}
{% load google_map %}
{% block title %}{{ settings.title|default_if_none:'Проекты' }}{% endblock %}
{% block description %}{{ settings.meta_desc|default_if_none:'' }}{% endblock %}
{% block keywords %}{{ settings.meta_keywords|default_if_none:'' }}{% endblock %}
{% block extra_head %}
    <script>
    var markers_inode = {% get_markers %}
    </script>
{% endblock %}
{% block page_content_header %}
{% endblock %}
{% block page_content_body %}

    <section id="projects" class="clearfix">
        <div id="google-map"></div>
    </section>

    <section class="projects-page">
        <div class="container tabs">
            <div class="row">
                <div class="group text-center">
                    {% if areas %}
                        {% for area in areas %}
                            <span class="btn filter"
                                  data-area-lat="{{ area.lat }}"
                                  data-area-lng="{{ area.lng }}"
                                  data-area-zoom="{{ area.zoom }}"
                                  data-tab="tab{{ forloop.counter }}">{{ area.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row tab-content projects">
                {% for area in areas %}
                    <div id="tab{{ forloop.counter }}" class="tab {% if forloop.first %}active{% endif %}">
                        {% for project_row in area.projects %}
                            <div class="row">
                                {% for project in project_row %}
                                    <div class="col-md-4 services text-left">
                                        <div class="service-item">
                                            <div class="fsi-frame-348x192">
                                                <span class="fsi-helper"></span>
                                                <img class="fsi-img-348x192" src='{{ project.image.url }}' alt="">
                                            </div>
                                            <h4>{{ project.name }}</h4>
                                            <p>{{ project.company }}</p>
                                            <div class="latest-projects">
                                                {% autoescape off %}
                                                    {{ project.desc }}
                                                {% endautoescape %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
{% block js_plugins %}
    <script src="{% static 'bower_components/js-marker-clusterer/src/markerclusterer.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    {% comment %}
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC37S4JUrdlmWAB3CmczT6gL_U0pP-Dvj0&callback=initMap">
    </script>
    {% endcomment %}
{% endblock %}
{% block makeup %}
    {% if debug %}
        <script src="{% static 'js/makeup/makeup.js' %}?maket=/static/js/makeup/projects.png"></script>
    {% endif %}
{% endblock %}
